# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# OS
.DS_Store

# PyCharm
.idea/

# Data
data/
!data/starred/recipe_sample.json

# Models
models/
!model/word2vec_20181119_052844.model

# Res / Config
config.py
word_tsne.html
estimation.txt
