python_docx==0.8.7
plotly==3.4.1
scikit_surprise==1.0.6
gensim==3.6.0
tabulate==0.8.2
numpy==1.15.2
easydict==1.9
requests==2.19.1
pandas==0.23.4
Click==7.0
matplotlib==3.0.0
joblib==0.13.0
tqdm==4.26.0
strsim==0.0.3
beautifulsoup4==4.6.3
docx==0.2.4
scikit_learn==0.20.1
surprise==0.1
